<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="updateForm">
    <script th:inline="javascript">

        $(document).ready(function() {
              $('#content').summernote({
              placeholder: '내용',
              tabsize: 2,
              height: 500
            });
          });
        function save(){
            var formDataObject = $("#form1").serializeObject();
            var urlName = "/api/board";
            requestUserDtoToServer(urlName, formDataObject);
        }
    </script>
    <div class="container">
        <form id="form1" name ="form1" class="validation-form" th:action="@{/api/board}" action="#" role="form" th:object="${board}"
              method="post" novalidate>

            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" th:field="*{title}" placeholder="title" id="title" name="title">
            </div>

            <div class="form-group">
                <label for="content">Content:</label>
                <textarea class="form-control" th:field="*{content}" rows="5" id="content" name="content"></textarea>
            </div>
            <div class="right-box">
                <input type="button" value="글쓰기 등록" class="btn btn-primary" onclick="save(); return false;">
            </div>
        </form>
    </div>
</th:block>
</html>