<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block  th:replace="pc/fragments/header :: html-head"></th:block>
    <title>user Info</title>
</head>
<body>
    <!-- main header fragments-->
    <th:block  th:replace="pc/fragments/bodyHeader :: header"></th:block>

    <!--main content wrapper-->
    <th:block th:replace = "pc/fragments/mainContent :: mainContentWrapper('myPage')"></th:block>

    <!-- main footer fragments -->
    <th:block th:replace = "pc/fragments/footer :: footer"></th:block>
</body>
</html>